body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 40px;
}

header {
    background-color: #E3B252;
    padding-bottom: 10px;
}

header h1, 
header h3 {
    margin: 5px;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
}

.character {
    border: solid 2px #F4F4F4;
    border-radius: 2px;
    margin-bottom: 20px;
}

.character img {
    width: 100%;
}

.character h3 {
    padding: 10px 20px 10px;
    margin: 0;
}

.character span {
    display: inline-block;
    padding: 0 20px 10px;
}